server:
  port: 8083
spring:
  datasource:
    driver-class-name:
    url: jdbc:mysql://127.0.0.1:3306/service-passenger-user?characterEncoding=utf-8&serverTimezone=GMT&2B8
    username: root
    password: 123456
  application:
    name: service-passenger-user
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848