server:
  port: 8081

spring:
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0

  application:
    name: api-passsenger
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

